.googleresim {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
}
.search-container {
    background-color: rgb(245, 242, 242);
    margin: 0px;
    margin-left: 129px;
    margin-right: 129px;
}

.sol {
    display: flex; 
    align-items: center; 
    justify-content: center;
    text-align: center;
    background-color: rgb(127, 199, 175);
    width: 650px;
    height: 50px;
    float: left;
    padding-left: 117px;
    padding-right: 75px;
    padding-top: 13px;
    padding-bottom: 13px;
    margin-top: 3px;
    margin-left: 129px;
    margin-right: 2px;
}
.orta {
    background-color: rgb(127, 199, 175);
    font-size: small;
    width: 150px;
    height: 71px;
    float: left;
    padding-left: 150px;
    padding-right: 149px;
    padding-top: 5px;
    padding-bottom: 0px;    
    margin-top: 3px;
    margin-bottom: 1px;

}

.sag {
     
    align-items: center; 
    justify-content: center;
    text-align: center;
    font-size: small;
    background-color: rgb(127, 199, 175);
    width: 650px;
    height: 60px;
    float: left;
    padding-left: 150px;
    padding-right: 191px;
    padding-top: 0px;
    padding-bottom: 16px;
    margin-top: 3px;
    margin-bottom: 0px;
    margin-left: 2px;
    margin-right: 129px;
}